.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name kaneko
      .side-header__box__menu
        = link_to "#", class: "new-group" do
          = icon("far", "far fa-edit")
        = link_to "#", class: "edit-user" do
          = icon("fa", "fa fa-cog")
  .side-groups
    = render "group"
    = render "group"
    = render "group"