.chat-side
  .side-header
    .side-header__box
      %h3.side-header__box__user-name
        = current_user.name
      .side-header__box__menu
        = link_to new_group_path, class: "new-group" do
          %i.far.fa-edit
        = link_to edit_user_path(current_user.id), class: "edit-user" do
          %i.fa.fa-cog
  .side-groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "group__links" do
          .group__links__name
            = group.name
          .group__links__info
            = group.show_last_message